# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Fortran module files
*.mod
*.smod

# CUDA
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# Executables
*.exe
*.out
*.app

# Log and datafiles
*.txt
*.log
*.dat
*.inp

# Vim
*.swp

# LyX
*.lyx~

# Kile
*.backup

# Core Tex/pdflatex auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Bibliography auxiliary files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Plotting tools
*.agr
*.table
*.gnuplot

# Configuration files
*.conf
*.config
*.json
*.xml

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# macOS
.DS_Store
